<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>

    <appender name="Profile" type="log4net.Appender.RollingFileAppender">
      <datePattern value="dd-MM-yyyy'.log'"/>
      <file value="OMSLogs\\Profile-"/>
      <param name="AppendToFile" value="true"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %level %type{1} -> %m%n"/>
      </layout>
    </appender>
    
    <appender name="ZipExtractor" type="log4net.Appender.RollingFileAppender">
      <datePattern value="dd-MM-yyyy'.log'"/>
      <file value="OMSLogs\\Profile-"/>
      <param name="AppendToFile" value="true"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %level %type{1} -> %m%n"/>
      </layout>
    </appender>

    <appender name="ZipExtractorAsync" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="ZipExtractor" />
      <appender-ref ref="ElasticSearchAsyncAppender"/>
      <Fix value="0" />
      <bufferSize value="50000" />
    </appender>

    <appender name="ProfileAsync" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="Profile" />
      <appender-ref ref="ElasticSearchAsyncAppender"/>
      <Fix value="0" />
      <bufferSize value="50000" />
    </appender>

    <appender name="Client" type="log4net.Appender.RollingFileAppender">
      <datePattern value="dd-MM-yyyy'.log'"/>
      <file value="OMSLogs\\Client-"/>
      <param name="AppendToFile" value="true"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %level %type{1} -> %m%n"/>
      </layout>
    </appender>

    <appender name="ClientAsync" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="Client" />
      <appender-ref ref="ElasticSearchAsyncAppender"/>
      <Fix value="0" />
      <bufferSize value="50000" />
    </appender>

    <appender name="OMSClient" type="log4net.Appender.RollingFileAppender">
      <datePattern value="dd-MM-yyyy'.log'"/>
      <file value="OMSLogs\\Client.UI-"/>
      <param name="AppendToFile" value="true"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %level %type{1} -> %m%n"/>
      </layout>
    </appender>

    <appender name="OMSClientAsync" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="OMSClient" />
      <appender-ref ref="ElasticSearchAsyncAppender"/>
      <Fix value="0" />
      <bufferSize value="50000" />
    </appender>

    <appender name="ClientCommunication" type="log4net.Appender.RollingFileAppender">
      <datePattern value="dd-MM-yyyy'.log'"/>
      <file value="OMSLogs\\Client.Communication-"/>
      <param name="AppendToFile" value="true"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %level %type{1} -> %m%n"/>
      </layout>
    </appender>

    <appender name="ClientCommunicationAsync" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="ClientCommunication" />
      <appender-ref ref="ElasticSearchAsyncAppender"/>
      <Fix value="0" />
      <bufferSize value="50000" />
    </appender>

    <appender name="ClientGlobal" type="log4net.Appender.RollingFileAppender">
      <datePattern value="dd-MM-yyyy'.log'"/>
      <file value="OMSLogs\\Client.Global-"/>
      <param name="AppendToFile" value="true"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %level %type{1} -> %m%n"/>
      </layout>
    </appender>

    <appender name="ClientGlobalAsync" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="ClientGlobal" />
      <appender-ref ref="ElasticSearchAsyncAppender"/>
      <Fix value="0" />
      <bufferSize value="50000" />
    </appender>


    <appender name="ClientMktLibBO" type="log4net.Appender.RollingFileAppender">
      <datePattern value="dd-MM-yyyy'.log'"/>
      <file value="OMSLogs\\Client.MktLibBO-"/>
      <param name="AppendToFile" value="true"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %level %type{1} -> %m%n"/>
      </layout>
    </appender>

    <appender name="ClientMktLibBOAsync" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="ClientMktLibBO" />
      <appender-ref ref="ElasticSearchAsyncAppender"/>
      <Fix value="0" />
      <bufferSize value="50000" />
    </appender>

    <appender name="ClientProvider" type="log4net.Appender.RollingFileAppender">
      <datePattern value="dd-MM-yyyy'.log'"/>
      <file value="OMSLogs\\Client.Provider-"/>
      <param name="AppendToFile" value="true"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %level %type{1} -> %m%n"/>
      </layout>
    </appender>

    <appender name="ClientProviderAsync" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="ClientProvider" />
      <appender-ref ref="ElasticSearchAsyncAppender"/>
      <Fix value="0" />
      <bufferSize value="50000" />
    </appender>



    <appender name="ElasticSearchAsyncAppender" type="log4net.ElasticSearch.Async.ElasticSearchAsyncAppender, log4net.ElasticSearch.Async">
      <connectionString value="
                           Server=192.168.0.40;
                           Port=9200;
                           Index=log-oms;
                           Rolling=true;
                           User=elastic;
                           Pwd=WiNYkw9LVYDHX1kMIhVf;
                           " />
      <maxRetries>10</maxRetries>
      <retrySeedDelay>00:00:05</retrySeedDelay>
      <retryMaxDelay>00:05:00</retryMaxDelay>
      <onCloseTimeout>00:00:10</onCloseTimeout>
      <externalIpCheckAddress>8.8.8.8</externalIpCheckAddress>
      <flushTriggerBufferSize>256</flushTriggerBufferSize>
      <rollingBufferSize>2048</rollingBufferSize>
    </appender>

    <logger name="ClientLogger">
      <level value="ALL"/>
      <appender-ref ref="ClientAsync"/>
    </logger>

    <logger name="ClientUILogger">
      <level value="ALL"/>
      <appender-ref ref="OMSClientAsync"/>
    </logger>
    <logger name="ClientCommLogger">
      <level value="ALL"/>
      <appender-ref ref="ClientCommunicationAsync"/>
    </logger>
    <logger name="ClientGlobalLogger">
      <level value="ALL"/>
      <appender-ref ref="ClientGlobalAsync"/>
    </logger>
    <logger name="ClientMktLibBOLogger">
      <level value="ALL"/>
      <appender-ref ref="ClientMktLibBOAsync"/>
    </logger>
    <logger name="ClientProviderLogger">
      <level value="ALL"/>
      <appender-ref ref="ClientProviderAsync"/>
    </logger>
    <logger name="ProfileClientLogger">
      <level value="ALL"/>
      <appender-ref ref="ProfileAsync"/>
    </logger>
    
    <logger name="ZipExtractorLogger">
      <level value="ALL"/>
      <appender-ref ref="ZipExtractorAsync"/>
    </logger>
    
  </log4net>
</configuration>